html {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*REDES SOCIALES*/

.SocialNetwork {
    background-color: #292929;
    width: 1920px;
    height: 40px;
}

a {
    margin-left: 6px;
}

.miniContainer {
    margin-left: 150px;
    padding-top: 10px;
}


/*FIN REDES SOCIALES*/


/*MENU*/

.menu {
    width: 1920px;
    background-color: whitesmoke;
    list-style: none;
    position: absolute;
    z-index: 100000;
}

.menu ul {
    padding-left: 740px;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    color: orange;
}

.menu-icon img {
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.menu-icon,
#check {
    display: none;
}


/*FIN MENU*/


/*INICIO INFO*/

.info {
    list-style: none;
    margin-top: -28px;
    margin-left: 1500px;
}

.info li {
    font-size: 18px;
    margin-left: 12px;
    padding: 4px;
    color: white;
    display: inline-block;
}

.info li a {
    color: white;
    text-decoration: none;
    display: block;
}

.info li a:hover {
    color: orange;
}

.Icon {
    font-size: 25px;
    color: white;
}


/*FIN INFO*/


/*INICIO SLIDER*/

#sliderPrincipal {
    width: 100%;
    box-sizing: border-box;
}

#sliderPrincipal>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sliderPrincipal>ul.slider {
    position: relative;
    max-width: 800px;
    width: 1920px;
    height: 300px;
}

#sliderPrincipal>ul.slider h1 {
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#sliderPrincipal>ul.slider li {
    margin-top: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

#sliderPrincipal>ul.slider li img {
    width: 1920px;
    height: 700px;
    object-fit: cover;
}

#sliderPrincipal>ul.slider li:first-child {
    opacity: 1;
}

#sliderPrincipal>ul.slider li:target {
    opacity: 1;
}

#sliderPrincipal>.boton {
    text-align: center;
    position: absolute;
    margin-left: 830px;
    margin-top: 370px;
}

#sliderPrincipal>.boton li {
    text-align: center;
    display: inline-block;
}

#sliderPrincipal>.boton li a {
    display: block;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


/*FIN SLIDER*/


/*MEDIO*/

.centro {
    width: 100%;
    height: 500px;
}

h2 {
    color: rgb(80, 65, 65);
}

.centro ul {
    margin-left: 20px;
    margin-top: 430px;
    font-size: 20px;
}

.bienvenida {
    position: relative;
    margin-top: 10px;
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
}

.cont_bien {
    margin-top: 5px;
    margin-bottom: 5px;
}

.h3_bien {
    margin-left: 250px;
    color: lightseagreen;
    margin-top: 30px;
    font-size: 35px;
    width: 10px;
    height: 10px;
}

.escrito {
    width: 900px;
    height: 70px;
    font-size: 20px;
    margin-top: -3px;
    margin-left: 500px;
}

.mini_img {
    margin-top: 40px;
    margin-left: 300px;
}


/*FIN MEDIO*/


/*INICIO FOOTER*/

.footer {
    position: absolute;
    background-color: #292929;
    width: 1920px;
    height: 400px;
}

.foot1 {
    line-height: 28px;
    color: white;
    font-size: 20px;
    margin-left: 140px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
}

.foot2 ul li {
    list-style: none;
}

.foot2 {
    line-height: 28px;
    color: white;
    font-size: 22px;
    width: 250px;
    height: 120px;
    margin-top: -40px;
    margin-left: 780px;
}

.foot3 {
    line-height: 28px;
    width: 500px;
    height: 70px;
    margin-top: -120px;
    margin-left: 1400px;
    font-size: 22px;
    color: white;
}

.politicas {
    position: absolute;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 240px;
    width: 500px;
    height: 100px;
    color: white;
}

.logo {
    position: absolute;
    margin-left: 1600px;
    margin-top: 220px;
}

.miniContainer2 {
    margin-top: 50px;
    margin-left: 150px;
}


/*FIN FOOTER*/

@media (min-width:375px) and (max-width: 899px) {
    .SocialNetwork {
        background-color: #292929;
        width: 100%;
        height: 40px;
    }
    .tel {
        visibility: hidden;
    }
    .miniContainer {
        margin-left: 15px;
    }
    .info {
        margin-left: 50px;
    }
    .menu {
        width: 375px;
        height: 30px;
    }
    .minimenu {
        margin-left: 0px;
    }
    #sliderPrincipal>ul.slider {
        width: 375px;
        height: 300px;
    }
    #sliderPrincipal>ul.slider li img {
        width: 375px;
        height: 700px;
    }
    #sliderPrincipal>.boton {
        margin-top: 370px;
        margin-left: 100px;
    }
    .centro {
        width: auto;
        height: auto;
    }
    .h3_bien {
        margin-top: 63px;
        margin-left: 0px;
        font-size: 21px;
    }
    .escrito {
        font-size: medium;
        width: auto;
        height: auto;
        margin-top: -63px;
        margin-left: 150px;
    }
    .centro ul {
        font-size: 15px;
    }
    .mini_img {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        margin-left: 8px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .footer {
        width: 375px;
        height: 500px;
    }
    .foot1 {
        width: 95px;
        font-size: small;
        margin-left: 50px;
    }
    .miniContainer2 {
        margin-top: -40px;
        margin-left: 30px;
    }
    .foot2 {
        font-size: small;
        margin-left: 225px;
        width: 150px;
        height: 190px;
    }
    .foot3 {
        line-height: 20px;
        width: 340px;
        height: 80px;
        position: absolute;
        margin-top: 20px;
        font-size: small;
        margin-left: 25px;
    }
    .politicas {
        width: 368px;
        height: 55px;
        margin-top: 235px;
        font-size: small;
        margin-left: 7px;
    }
    .logo {
        margin-top: 140px;
        margin-left: 30px;
    }
    .checkbtn {
        display: block;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0px;
        right: 20px;
    }
    .menu ul {
        padding-left: 0px;
        display: block;
        position: absolute;
        top: 30px;
        left: -100%;
        background-color: whitesmoke;
        width: 100%;
        height: 26vh;
        right: 0;
    }
    .menu ul li {
        display: flex;
        justify-content: center;
    }
    .menu ul li :last-child {
        padding: 1rem;
        background: none;
    }
    #check:checked~ul {
        left: 0;
    }
}